<section class="advantages">
  <div class="container">
    <p class="advantages-label">Переваги</p>

    <h2 class="advantages-title">Чому обрати нас?</h2>

    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantages-list">
      <li class="adv-item">
        <img
          class="adv-img"
          srcset="img/advantages/adv-1.jpg 1x, img/advantages/adv-1@2x.jpg 2x"
          alt="Органічні матеріали"
        />
        <h3 class="adv-item-title">Стійкість та екологічність</h3>
        <p class="adv-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>

      <li class="adv-item">
        <img
          class="adv-img"
          srcset="img/advantages/adv-2.jpg 1x, img/advantages/adv-2@2x.jpg 2x"
          alt="Посилені шви"
        />
        <h3 class="adv-item-title">Міцність і довговічність</h3>
        <p class="adv-item-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>

      <li class="adv-item">
        <img
          class="adv-img"
          srcset="img/advantages/adv-3.jpg 1x, img/advantages/adv-3@2x.jpg 2x"
          alt="Мінімалістичний дизайн"
        />
        <h3 class="adv-item-title">Стильний та сучасний дизайн</h3>
        <p class="adv-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
