<section class="assortment" id="assortment">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="our-bags">
      <li class="our-bags-cards">
        <picture class="our-bags-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/img_assortment/Bag_01_d.jpg    1x,
              ../img/img_assortment/Bag_01_d@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/img_assortment/Bag_01_t.jpg    1x,
              ../img/img_assortment/Bag_01_t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/img_assortment/Bag_01_m.jpg    1x,
              ../img/img_assortment/Bag_01_m@2x.jpg 2x
            "
          />

          <img
            src="../img/img_assortment/Bag_01_d.jpg"
            alt="EcoBag Classic"
            width="310"
            height="372"
          />
        </picture>
        <h3 class="our-bags-title">EcoBag Classic</h3>
        <p class="our-bags-descr">
          Елегантна та містка сумка для щоденного використання.
        </p>
        <p class="our-bags-price">$25</p>
        <button class="our-bags-button" type="button">Купити</button>
      </li>
      <li class="our-bags-cards">
        <picture class="our-bags-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/img_assortment/Bag_02_d.jpg    1x,
              ../img/img_assortment/Bag_02_d@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/img_assortment/Bag_02_t.jpg    1x,
              ../img/img_assortment/Bag_02_t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/img_assortment/Bag_02_m.jpg    1x,
              ../img/img_assortment/Bag_02_m@2x.jpg 2x
            "
          />

          <img
            src="../img/img_assortment/Bag_02_d.jpg"
            alt="EcoTote Shopper"
            width="310"
            height="372"
          />
        </picture>
        <h3 class="our-bags-title">EcoTote Shopper</h3>
        <p class="our-bags-descr">
          Ідеальна для покупок, з посиленими ручками.
        </p>
        <p class="our-bags-price">$30</p>
        <button class="our-bags-button" type="button">Купити</button>
      </li>
      <li class="our-bags-cards">
        <picture class="our-bags-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/img_assortment/Bag_03_d.jpg    1x,
              ../img/img_assortment/Bag_03_d@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/img_assortment/Bag_03_t.jpg    1x,
              ../img/img_assortment/Bag_03_t@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/img_assortment/Bag_03_m.jpg    1x,
              ../img/img_assortment/Bag_03_m@2x.jpg 2x
            "
          />

          <img
            src="../img/img_assortment/Bag_03_d.jpg"
            alt="EcoTote Shopper"
            width="310"
            height="372"
          />
        </picture>
        <h3 class="our-bags-title">EcoTote Shopper</h3>
        <p class="our-bags-descr">
          Ідеальна для покупок, з посиленими ручками.
        </p>
        <p class="our-bags-price">$30</p>
        <button class="our-bags-button" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
