<section class="feedbacks" id="feedbacks">
  <div class="container feedbacks-container">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>

        <p class="feedbacks-descr">Сумка дуже зручна та стильна, використовую щодня!</p>

        <p class="feedbacks-name">Анна</p>

      </li>
      <li class="feedbacks-item">
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>

        <p class="feedbacks-descr">Відмінна якість матеріалів, приємно здивована.</p>

        <p class="feedbacks-name">Ігор</p>

      </li>
      <li class="feedbacks-item">
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>

        <p class="feedbacks-descr">Сумка повністю відповідає опису, рекомендую!</p>

        <p class="feedbacks-name">Олена</p>

      </li>
      <li class="feedbacks-item">
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star-fillled" width="24" height="24"></use>
        </svg>
        <svg class="feedbacks-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-star" width="24" height="24"></use>
        </svg>

        <p class="feedbacks-descr">Швидка доставка та гарне обслуговування.</p>

        <p class="feedbacks-name">Сергій</p>

      </li>
    </ul>
  </div>
</section>
