<footer class="footer">
  <div class="footer-container container">
    <div class="footer-nav">
      <a class="footer-logo" href="./index.html">
        <img class="footer-logo-img" src="./img/logo.svg" alt="Логотип" />
      </a>

      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a href="#about" class="footer-menu-link">Про нас</a>
        </li>
        <li class="footer-menu-item">
          <a href="#advantages" class="footer-menu-link">Переваги</a>
        </li>
        <li class="footer-menu-item">
          <a href="#assortment" class="footer-menu-link">Асортимент</a>
        </li>
        <li class="footer-menu-item">
          <a href="#gallery" class="footer-menu-link">Галерея</a>
        </li>
        <li class="footer-menu-item">
          <a href="#feedbacks" class="footer-menu-link">Відгуки</a>
        </li>
        <li class="footer-menu-item">
          <a href="#support" class="footer-menu-link">Контакти</a>
        </li>
      </ul>

      <ul class="footer-socials">
        <li class="footer-socials-items">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer-socials-links"
          >
            <svg class="footer-socials-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-items">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="footer-socials-links"
          >
            <svg class="footer-socials-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-items">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="footer-socials-links"
          >
            <svg class="footer-socials-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-info">
      <address class="footer-contacts">
        <ul class="footer-contacts-list">
          <li class="footer-contacts-items">
            <a class="footer-contact-link" href="tel:+380999091122">
              +38 (099) 909 11 22
            </a>
          </li>
          <li class="footer-contacts-items">
            <a class="footer-contact-link" href="mailto:hello@ecotote.com">
              hello@ecotote.com
            </a>
          </li>
        </ul>
      </address>
    </div>
    <p class="copyright">&copy; 2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
