<section id="gallery" class="gallery-section section">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-description">EcoTotes у повсякденному житті</h3>

    <!-- ================= Desktop ================= -->
    <ul class="gallery gallery-desktop">
      <li class="column column-left">
        <ul>
          <li class="gallery-item item1">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-1.webp    1x,
                  img/gallery/gal-desktop-1@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-desktop-1.webp"
                alt="Image 1"
                loading="lazy"
              />
            </picture>
          </li>

          <li class="gallery-item item2">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-2.webp    1x,
                  img/gallery/gal-desktop-2@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-desktop-2.webp"
                alt="Image 2"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </li>

      <li class="column column-middle">
        <ul>
          <li class="gallery-item item3">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-3.webp    1x,
                  img/gallery/gal-desktop-3@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-desktop-3.webp"
                alt="Image 3"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </li>

      <li class="column column-right">
        <ul>
          <li class="gallery-item item4">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-4.webp    1x,
                  img/gallery/gal-desktop-4@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-desktop-4.webp"
                alt="Image 4"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>

    <!-- ================= Tablet ================= -->
    <ul class="gallery gallery-tablet">
      <li class="column column-left">
        <ul>
          <li class="gallery-item item1">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-1.webp    1x,
                  img/gallery/gal-tablet-1@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-tablet-1.webp"
                alt="Image 1"
                loading="lazy"
              />
            </picture>
          </li>

          <li class="gallery-item item4">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-4.webp    1x,
                  img/gallery/gal-tablet-4@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-tablet-4.webp"
                alt="Image 4"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </li>

      <li class="column column-right">
        <ul>
          <li class="gallery-item item3">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-3.webp    1x,
                  img/gallery/gal-tablet-3@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-tablet-3.webp"
                alt="Image 3"
                loading="lazy"
              />
            </picture>
          </li>

          <li class="gallery-item item2">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-2.webp    1x,
                  img/gallery/gal-tablet-2@2x.webp 2x
                "
              />
              <img
                src="img/gallery/gal-tablet-2.webp"
                alt="Image 2"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </li>
    </ul>

    <!-- ================= Mobile ================= -->
    <ul class="gallery gallery-mobile">
      <li class="gallery-item item2">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-2.webp    1x,
              img/gallery/gal-mobile-2@2x.webp 2x
            "
          />
          <img
            src="img/gallery/gal-mobile-2.webp"
            alt="Image 2"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item item3">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-3.webp    1x,
              img/gallery/gal-mobile-3@2x.webp 2x
            "
          />
          <img
            src="img/gallery/gal-mobile-3.webp"
            alt="Image 3"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item item4">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-4.webp    1x,
              img/gallery/gal-mobile-4@2x.webp 2x
            "
          />
          <img
            src="img/gallery/gal-mobile-4.webp"
            alt="Image 4"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery-item item1">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-1.webp    1x,
              img/gallery/gal-mobile-1@2x.webp 2x
            "
          />
          <img
            src="img/gallery/gal-mobile-1.webp"
            alt="Image 1"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
