<section id="gallery" class="gallery-section section">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-description">EcoTotes у повсякденному житті</h3>

    <!-- ================= Desktop ================= -->
    <ul class="gallery gallery-desktop">
      <li class="column column-left">
        <ul>
          <li class="gallery-item item1">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-1.jpg    1x,
                  img/gallery/gal-desktop-1@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-desktop-1.jpg" alt="Image 1" />
            </picture>
          </li>

          <li class="gallery-item item2">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-2.jpg    1x,
                  img/gallery/gal-desktop-2@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-desktop-2.jpg" alt="Image 2" />
            </picture>
          </li>
        </ul>
      </li>

      <li class="column column-middle">
        <ul>
          <li class="gallery-item item3">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-3.jpg    1x,
                  img/gallery/gal-desktop-3@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-desktop-3.jpg" alt="Image 3" />
            </picture>
          </li>
        </ul>
      </li>

      <li class="column column-right">
        <ul>
          <li class="gallery-item item4">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  img/gallery/gal-desktop-4.jpg    1x,
                  img/gallery/gal-desktop-4@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-desktop-4.jpg" alt="Image 4" />
            </picture>
          </li>
        </ul>
      </li>
    </ul>

    <!-- ================= Tablet ================= -->
    <ul class="gallery gallery-tablet">
      <li class="column column-left">
        <ul>
          <li class="gallery-item item1">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-1.jpg    1x,
                  img/gallery/gal-tablet-1@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-tablet-1.jpg" alt="Image 1" />
            </picture>
          </li>

          <li class="gallery-item item4">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-4.jpg    1x,
                  img/gallery/gal-tablet-4@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-tablet-4.jpg" alt="Image 4" />
            </picture>
          </li>
        </ul>
      </li>

      <li class="column column-right">
        <ul>
          <li class="gallery-item item3">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-3.jpg    1x,
                  img/gallery/gal-tablet-3@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-tablet-3.jpg" alt="Image 3" />
            </picture>
          </li>

          <li class="gallery-item item2">
            <picture>
              <source
                media="(min-width:768px) and (max-width:1439px)"
                srcset="
                  img/gallery/gal-tablet-2.jpg    1x,
                  img/gallery/gal-tablet-2@2x.jpg 2x
                "
              />
              <img src="img/gallery/gal-tablet-2.jpg" alt="Image 2" />
            </picture>
          </li>
        </ul>
      </li>
    </ul>

    <!-- ================= Mobile ================= -->
    <ul class="gallery gallery-mobile">
      <li class="gallery-item item2">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-2.jpg    1x,
              img/gallery/gal-mobile-2@2x.jpg 2x
            "
          />
          <img src="img/gallery/gal-mobile-2.jpg" alt="Image 2" />
        </picture>
      </li>

      <li class="gallery-item item3">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-3.jpg    1x,
              img/gallery/gal-mobile-3@2x.jpg 2x
            "
          />
          <img src="img/gallery/gal-mobile-3.jpg" alt="Image 3" />
        </picture>
      </li>

      <li class="gallery-item item4">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-4.jpg    1x,
              img/gallery/gal-mobile-4@2x.jpg 2x
            "
          />
          <img src="img/gallery/gal-mobile-4.jpg" alt="Image 4" />
        </picture>
      </li>

      <li class="gallery-item item1">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              img/gallery/gal-mobile-1.jpg    1x,
              img/gallery/gal-mobile-1@2x.jpg 2x
            "
          />
          <img src="img/gallery/gal-mobile-1.jpg" alt="Image 1" />
        </picture>
      </li>
    </ul>
  </div>
</section>
