<header class="header">
  <div class="header-wrap container">
    <nav class="header-nav">
      <!-- logo -->
      <a class="logo" href="./index.html">
        <img class="logo-img" src="./img/logo.svg" alt="Логотип" />
      </a>

      <!-- menu -->
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#about" class="header-menu-link">Про нас</a>
        </li>
        <li class="header-menu-item">
          <a href="#advantages" class="header-menu-link">Переваги</a>
        </li>
        <li class="header-menu-item">
          <a href="#assortment" class="header-menu-link">Асортимент</a>
        </li>
        <li class="header-menu-item">
          <a href="#gallery" class="header-menu-link">Галерея</a>
        </li>
        <li class="header-menu-item">
          <a href="#feedbacks" class="header-menu-link">Відгуки</a>
        </li>
        <li class="header-menu-item">
          <a href="#support" class="header-menu-link">Контакти</a>
        </li>
      </ul>
    </nav>

    <!-- contacts -->
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-contacts-item">
          <a href="tel:+380999091122" class="header-contacts-link">
            +38 (099) 909 11 22
          </a>
        </li>
        <li class="header-contacts-item">
          <a href="mailto:hello@ecotote.com" class="header-contacts-link">
            hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>

    <!-- burger -->
    <button
      class="burger-btn"
      aria-label="Відкриває мобільне меню"
      data-menu-open
    >
      <svg class="burger-btn-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <!-- mobile menu -->
  <div class="mobile-menu" data-menu>
    <div class="mobile-menu-container container">
      <button class="btn-close" type="button" data-menu-close>
        <svg width="32" height="32">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <!-- mobile logo -->
        <a class="logo" href="./index.html">
          <img class="logo-img" src="./img/logo.svg" alt="Логотип" />
        </a>

        <!-- mobile nav -->
        <ul class="mobile-menu-list">
          <li>
            <a class="mobile-menu-link" href="#about">Про нас</a>
          </li>
          <li>
            <a class="mobile-menu-link" href="#advantages">Переваги</a>
          </li>
          <li>
            <a class="mobile-menu-link" href="#assortment">Асортимент</a>
          </li>
          <li>
            <a class="mobile-menu-link" href="#gallery">Галерея</a>
          </li>
          <li>
            <a class="mobile-menu-link" href="#feedbacks">Відгуки</a>
          </li>
          <li>
            <a class="mobile-menu-link" href="#support">Контакти</a>
          </li>
        </ul>
      </nav>

      <!-- mobile contacts -->
      <address class="mobile-menu-contacts">
        <ul class="mobile-contacts-list">
          <li>
            <a class="mobile-contact-link" href="tel:+380999091122">
              +38 (099) 909 11 22
            </a>
          </li>
          <li>
            <a class="mobile-contact-link" href="mailto:hello@ecotote.com">
              hello@ecotote.com
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
