<section class="hero">
  <div class="container hero-container">
    <div class="hero-top">
<div class="hero-left">
<h1 class="hero-title">
  EcoTote — Стиль, що не шкодить планеті
</h1>
 </div>
<div class="hero-right">
<p class="hero-text">
  Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність разом з EcoTote.
</p>
<a href="#assortment" class="hero-button">Купити зараз</a>
</div>
</div>

<picture >
  <source 
  srcset="../img/hero-image/hero.png 1x,
  ../img/hero-image/hero@2x.png 2x" 
  media="(min-width: 1440px)" 
  />
<source
srcset="../img/hero-image/tab-hero.png 1x,
../img/hero-image/tab-hero@2x.png 2x"
media="(min-width: 768px)"
/>
<img
class="hero-image"
src="../img/hero-image/mob-hero.png"
srcset="../img/hero-image/mob-hero.png 1x,
../img/hero-image/mob-hero@2x.png 2x"
alt="EcoTote bags"
loading="lazy"
/>
</picture>
  </div>
</section>
