.assortment {
  padding-top: 32px;
  padding-bottom: 32px;
}
.assortment-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}
.our-bags {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.our-bags-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.our-bags-img img {
  border-radius: 32px;
  width: 288px;
  height: 345px;
  margin-bottom: 16px;
}
.our-bags-text {
  margin-bottom: 16px;
}
.our-bags-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}
.our-bags-descr {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 8px;
}
.our-bags-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}
.our-bags-button {
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 8px 20px;
  display: block;
  background-color: transparent;
  height: 40px;
  width: 100%;
  margin-top: auto;
}
@media only screen and (min-width: 768px) {
  .assortment {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .our-bags {
    column-gap: 24px;
    row-gap: 48px;
  }
  .our-bags-cards {
    align-items: stretch;
    width: calc((100% - 24px) / 2);
  }
  .our-bags-img img {
    width: 340px;
    height: 408px;
  }
}
@media only screen and (min-width: 1440px) {
  .our-bags {
    row-gap: 64px;
  }
  .our-bags-cards {
    width: calc((100% - 72px) / 4);
  }
  .our-bags-img img {
    width: 310px;
    height: 372px;
  }
  .assortment-title {
    font-size: 48px;
  }
  .our-bags-button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-bags-button:focus,
  .our-bags-button:hover {
    opacity: 0.5;
  }
  .our-bags-button:active {
    color: #113916;
    border-color: #113916;
    opacity: 0.6;
  }
}
