body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ebf8ed;
  color: #030a06;
}

main {
  flex-grow: 1;
}
