.feedbacks {
    padding: 32px 0;
}       

.feedbacks-title {
    font-family: "Comfortaa",  sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030A06;
    margin-bottom: 32px;
    width: 288px;  
}

.feedbacks-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}

.feedbacks-item {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 158px;
}

.stars-list {
    display: flex;
    margin-bottom: 12px;
    gap: 4px;
}

.stars-item {
    height: 24px;
    width: 24px;
}

.feedbacks-icon {
    fill: #3AC04C;      
}

.feedbacks-descr {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030A06;     
}

.feedbacks-name {
    margin-top: auto;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .feedbacks {
        padding: 64px 0;
    }     

    .feedbacks-title {
        width: 560px;      
        margin: 0 auto 32px auto;
    }

    .feedbacks-list {
       gap: 32px 24px;
    }

    .feedbacks-item {
        width: calc((100% - 24px) / 2);
        height: 182px;
    }

    .stars-list {
        margin-bottom: 24px;
    }
        
}

@media screen and (min-width: 1440px) {
    .feedbacks {
        padding: 64px 0;
    }      

    .feedbacks-title {
        width: 560px;
        font-size: 48px;     
        margin: 0 auto 80px auto;
    }

    .feedbacks-list {
        gap: 24px;
    }

    .feedbacks-item {
        width: calc((100% - 72px) / 4);
        height: 182px;
    }

    .stars-list {
        margin-bottom: 24px;
    }  
}