.footer {
  background-color: #75d281;
}

.footer-container {
  padding: 48px 20px;
}

.footer-nav {
  margin-bottom: 48px;
}

.footer-logo {
  display: block;
  margin-bottom: 48px;
}

.footer-logo-img {
  width: 280px;
  margin: 0 auto;
}

.footer-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 48px;
}

.footer-menu-link,
.footer-contact-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:active,
.footer-contact-link:active {
  transform: scale(1.1);
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-socials-links {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-links:active {
  transform: scale(0.9);
}

.footer-socials-icon {
  fill: #030a06;
}

.footer-info {
  padding: 24px 23px 16px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
}

.footer-contacts {
  margin-bottom: 24px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.copyright {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 64px 32px;
  }

  .footer-nav {
    margin-bottom: 24px;
  }

  .footer-logo {
    margin-bottom: 32px;
  }

  .footer-logo-img {
    width: 164px;
  }

  .footer-menu {
    flex-direction: row;
    justify-content: center;
    column-gap: 32px;
    margin-bottom: 32px;
  }

  .footer-socials-icon {
    width: 40px;
    height: 40px;
  }

  .footer-contacts {
    margin-bottom: 16px;
  }

  .footer-contacts-list {
    flex-direction: row;
    justify-content: center;
    column-gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding: 80px 64px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-menu {
    margin-bottom: 0;
  }

  .footer-menu-item,
  .footer-contacts-items {
    position: relative;
  }

  .footer-menu-link,
  .footer-contact-link {
    padding: 5px 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-menu-link::after,
  .footer-contact-link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #030a06;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-menu-link:hover::after,
  .footer-menu-link:focus::after,
  .footer-contact-link:hover::after,
  .footer-contact-link:focus::after {
    width: 100%;
  }

  .footer-menu-link:hover,
  .footer-menu-link:focus,
  .footer-contact-link:hover,
  .footer-contact-link:focus {
    transform: translateY(-2px);
  }

  .footer-socials-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-items:hover,
  .footer-socials-items:focus {
    border-color: #030a06;
  }

  .footer-socials-links {
    width: 24px;
    height: 24px;
  }

  .footer-socials-icon {
    width: 24px;
    height: 24px;
  }
}
