/* header */

.header {
  background-color: #75d281;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: block;
  padding: 14px 0;
}

.logo-img {
  width: 84px;
}

.header-menu {
  display: none;
}

.header-contacts {
  display: none;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
}

.burger-btn-icon {
  display: block;
  fill: #030a06;
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #75d281;
  transform: translateY(-100%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile-menu-container {
  position: relative;
  padding-bottom: 92px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-close {
  position: absolute;
  display: block;
  padding: 0;
  background-color: transparent;
  fill: #030a06;
  padding: 0;
  right: 20px;
  top: 16px;
}

.mobile-menu-nav {
  padding: 0 4px;
}

.mobile-menu-list {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.mobile-menu-link,
.mobile-contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

.mobile-menu-contacts {
  margin-top: auto;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .header-wrap {
    padding: 0 32px;
  }

  .mobile-menu-nav {
    padding: 0;
  }

  .mobile-menu-container {
    padding-bottom: 128px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-wrap {
    padding: 0 64px;
  }

  .logo {
    margin-right: 175px;
    padding: 13px 0;
  }

  .logo-img {
    width: 107px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: flex;
    gap: 32px;
  }

  .header-menu-item {
    position: relative;
  }

  .header-menu-link,
  .header-contacts-link {
    display: block;
    padding: 5px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link::after,
  .header-contacts-link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #030a06;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-contacts-link:hover,
  .header-contacts-link:focus {
    transform: translateY(-2px);
  }

  .header-menu-link:hover::after,
  .header-menu-link:focus::after,
  .header-contacts-link:hover::after,
  .header-contacts-link:focus::after {
    width: 100%;
  }

  .header-contacts {
    display: block;
  }

  .header-contacts-list {
    display: flex;
    gap: 16px;
  }

  .header-contacts-item {
    position: relative;
  }

  .burger-btn {
    display: none;
  }
}
