
.hero {
    padding: 64px 16px 64px;
    background: #EBF8ED;
  
}

.container .hero-container {
    max-width: 320px;
    margin: 0 auto;
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.hero-top {
    width: 288px;
        height: 364px;
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.hero-left {  
   width: 100%;
   height: 192px;
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
}
.hero-title { 
    max-width: 288px;
font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030A06;
    font-family: var(--second-family);
}

.hero-right {
    width: 100%;
    height: 152px;
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
   
}

.hero-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
    margin: 0;
}

.hero-button {
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
border: 1px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    height: 50px;
    background: #1e1e1e;
font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
font-family: var(--font-family);


 
}
.hero-button:hover,
.hero-button:focus {
background: #1e1e1e;
    opacity: 0.5;
}

.hero-image {
  display: block;  
border-radius: 40px;
width: 288px;
   max-width: 100%;
   height: 0 auto;
   
}

@media screen and (min-width: 768px) {

.hero {
        padding: 32px 32px 64px;
      
    }

    .container .hero-container {
        max-width: 768px;
       gap: 20px;
    }

    .hero-top {
        width: 704px;
            height: 192px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
    
    }

    .hero-left {
        width: 340px;
        height: 192px;
       gap: 0;
    }

    .hero-title {
        font-size: 40px;
      max-width: 340px;
    }

    .hero-right {
        width: 340px;
        height: 169px;
        gap: 32px;
        
    }

    .hero-text {
        font-size: 18px;
        margin: 0;
    }

    .hero-button {
        width: 148px;
        gap: 8px;
      


    }


    .hero-image {
        max-width: 704px;
        width: 100%;
     margin: 0 auto;
    }
}

@media screen and (min-width: 1440px){
.hero {
        padding: 32px 64px 64px;

    }

    .container .hero-container {
      max-width: 1312px;
        gap: 20px;
    }

    .hero-top {
        flex-direction: row;
        gap: 32px;
        width: 1312px;
            height: 201px;
    }

    .hero-left {
        width: 640px;
        height: 201px;
        gap: 0;
    }

    .hero-title {
        max-width: 640px;
        font-size: 56px;
    
    }

    .hero-right {
        width: 640px;
        height: 140px;
        gap: 32px;
     
    }

    .hero-text {
      
        font-size: 18px;
       
    }
    .hero-button {
       width: 148px;
    gap: 8px;
    }


    .hero-image {
        width: 1312px;
        max-width: 100%;
    
    }
    
}
